<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<connectionStrings>
  <add name="sqlcon" connectionString="datasource=.;database=BookShop;user id=sa;password=sa123;" providerName="System.Data.SqlClient"/>  
</connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true"></startup>

</configuration>